name: Lint Code Base
# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
on:
  push:
    # Remove the line above to run when pushing to master
  pull_request:
    branches: [main]

jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
         
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Downloading Super-linter log file
        run: cp '${{ github.workspace }}/super-linter.log' '.github/'
        shell: bash
        
          
